extends layout

block head
    meta(name="viewport" content="width=device-width, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/game.css')
    script(type='text/javascript' src='/js/lib/qrcode.min.js')
    script(type='text/javascript' src='/js/helpers.js')
    script(type='text/javascript' src='/js/shape.js')
    script(type='text/javascript' src='/js/x.js')
    script(type='text/javascript' src='/js/o.js')
    script(type='text/javascript' src='/js/board.js')
    script(type='text/javascript' src='/js/game.js')

block content
    #content
        #qrcode
        #status

        canvas(id="board")
            | Your browser is too old, it doesn't support canvas.



