extends layout

block head
    meta(name="viewport" content="user-scalable=no")
    script(type='text/javascript' src='/javascripts/helpers.js')
    script(type='text/javascript' src='/javascripts/shape.js')
    script(type='text/javascript' src='/javascripts/x.js')
    script(type='text/javascript' src='/javascripts/o.js')
    script(type='text/javascript' src='/javascripts/board.js')
    script(type='text/javascript' src='/javascripts/game.js')

block content
    #content
        div(class="status" id="status")

        canvas(id="board")
            | Your browser is too old, it doesn't support canvas.



