extends layout

block content
    #content
        form(method="post")
            #data
                label(for="nick")
                    | Nickname:
                input(type="text" id="nick" name="nick")
            #submit-zone
                input(type="submit" name="login" value="Login")


